Repository amite/CloudFlare-Nextjs-LLM-starter-2026: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true

types:
  run: pnpm type-check

fix: resolve typescript errors and apply code quality improvements
  .claude/plan-stats.json
  .claude/settings.json
  .claude/skills/session-refiner/references/workflow.md:Zone.Identifier
  .claude/skills/session-refiner/scripts/extract_session_summary.py:Zone.Identifier
  .python-version
  __tests__/lib/llm.test.ts
  __tests__/lib/logger.test.ts
  app/api/auth/[...nextauth]/route.ts
  app/api/chat/stream/route.ts
  app/api/counter/route.ts
  app/api/python/example/route.ts
  app/api/usage/summary/route.ts
  app/auth/signin/page.tsx
  app/dashboard/page.tsx
  app/examples/chat/page.tsx
  app/examples/counter/page.tsx
  app/page.tsx
  drizzle.config.ts
  drizzle/migrate-local.ts
  drizzle/migrations/0000_military_mulholland_black.sql
  drizzle/migrations/meta/0000_snapshot.json
  drizzle/migrations/meta/_journal.json
  drizzle/seed.ts
  lib/auth/config.ts
  lib/auth/index.ts
  lib/cost-tracker.ts
  lib/db.ts
  lib/llm/gemini.ts
  lib/llm/index.ts
  lib/llm/openai.ts
  lib/llm/types.ts
  main.py
  middleware.ts
  pyproject.toml
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: lint, types

chore: adds session summary
  .claude/session-summaries/20251225-boilerplate-verification-fixes.md
Due: none

fix: resolve counter edge runtime error in local development
  README.md
  app/api/counter/route.ts
  artifacts/completed/issues/counter-edge-runtime-error.md
  artifacts/completed/issues/drizzle-push-index-conflict.md
  lib/cloudflare.ts
  lib/db.ts
  local.db.backup
  next-env.d.ts
  next.config.ts
  scripts/debug-db.ts
Due: lint, types

fix: resolve typescript errors in cost-tracker and add documentation
  app/api/chat/stream/route.ts
  app/examples/chat/page.tsx
  artifacts/completed/issues/chat-api-env-and-model-fixes.md
  artifacts/completed/issues/cost-tracker-typescript-errors.md
  lib/cloudflare.ts
  lib/cost-tracker.ts
  lib/db.ts
  lib/llm/gemini.ts
  lib/llm/openai.ts
  lib/llm/types.ts
Due: lint, types

docs: update cost-tracker documentation with final solution
  artifacts/completed/issues/cost-tracker-typescript-errors.md
  lib/cost-tracker.ts
Due: lint, types

test: update llm tests to match new model names
  __tests__/lib/llm.test.ts
Due: lint, types

chore: adds claude.md for coding with claude
  CLAUDE.md
Due: none

fix: remove duplicate key and relax linting rules
  .claude/plan-stats.json
  .claude/session-summaries/20251225-google-oauth-logout.md
  app/api/auth/[...nextauth]/route.ts
  app/auth/error/page.tsx
  app/dashboard/page.tsx
  artifacts/completed/issues/google-0auth-fix.md
  artifacts/wip/plans/google-oauth-and-logout-button.md
  biome.json
  components/auth/sign-out-button.tsx
  lib/auth/index.ts
  lib/cloudflare.ts
  package.json
  pnpm-lock.yaml
  scripts/debug-db.ts
Due: lint, types

fix: add type annotations and button type prop
  components/auth/sign-out-button.tsx
  lib/auth/index.ts
Due: lint, types

docs: add comprehensive authentication documentation with file reference
  README.md
  artifacts/docs/AUTH-FILES-REFERENCE.md
  artifacts/docs/Auth-1-0.md
Due: none

docs: add production deployment guidance to auth-1-0.md
  artifacts/docs/Auth-1-0.md
Due: none

docs: update plan stats and add counter docs
  .claude/plan-stats.json
  artifacts/completed/issues/why-counter-is-clientside-component.md
Due: lint

chore: upgrade next.js to 16.1.1 and all dependencies
  artifacts/completed/issues/nextjs-16-upgrade.md
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  proxy.ts
  tsconfig.json
Due: lint, types

test: mark counter test as pending
  e2e/counter.spec.ts
Due: lint, types

test: add e2e tests and playwright config
  .claude/plan-stats.json
  app/auth/signin/page.tsx
  e2e/auth.spec.ts
  e2e/chat.spec.ts
  e2e/dashboard.spec.ts
  e2e/home.spec.ts
  lib/auth/config.ts
  playwright.config.ts
Due: lint, types

chore: deployment plan is ready for review
  .claude/session-summaries/20251225-cloudflare-deployment-guide.md
  artifacts/docs/Deploy.md
Due: none

fix: adds lint fixes
  .claude/plan-stats.json
  artifacts/docs/Deploy.md
  components/auth/sign-out-button.tsx
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  scripts/debug-db.ts
Due: lint, types

fix: resolve http 500 error in cloudflare deployment
  .claude/plan-stats.json
  .claude/session-summaries/20251225-cloudflare-deployment.md
  app/api/chat/stream/route.ts
  app/api/python/example/route.ts
  app/api/usage/summary/route.ts
  artifacts/docs/DEPLOYMENT_SUCCESS.md
  artifacts/docs/Deploy.md
  artifacts/docs/temp-deploy-dump.md
  artifacts/wip/issues/mid-sployment-review.md
  lib/auth/config.ts
  lib/cloudflare.ts
  lib/cost-tracker.ts
  lib/db-types.ts
  lib/db.ts
  middleware.ts
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  wrangler.jsonc
Due: lint, types

docs: planning documentation for role based auth
  .claude/plan-stats.json
  .claude/session-summaries/20251225-http500-edge-runtime-fix.md
  .claude/session-summaries/20251225-rbac-chat-protection-planning.md
  artifacts/wip/plans/rbac-chat-protection.md
  wrangler.jsonc
Due: lint

chore: turbopack config changes
  artifacts/completed/issues/turbopack-webpack-warning-fix.md
  next.config.ts
Due: lint, types

feat: add interactive setup script
  setup.sh
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,json}
  types: any of: *.{ts,tsx}
